if jquery == 1
	// jquery script
	script(src='assets/js/min/jquery.min.js')

if bootstrap == 1
	// bootstrap script
	script(src='assets/js/min/bootstrap.min.js')


// main script
script(src='assets/js/min/main.min.js')
