#aboutUs
	.carousel-indicators
		li
			height: 50px
			max-width: 40px
			border-radius: 0 50%
			&.active
				background-color: $white
				border-radius: 50% 0
				.triangle
					position: absolute
					top: -77px
					left: -11px
					border-left: 50px solid transparent
					border-right: 50px solid transparent
					border-top: 80px solid $white
					width: 0
					height: 0

	.carousel-item
		z-index: 1600	
		.carousel-words
			height: 100px
			margin-top: 100px
			margin-bottom: 100px
			padding-top: 70px
			padding-bottom: 170px
			background-color: $white
			h3
				margin-bottom: 30px