#results
    .row
        margin: 30px 0
        position: relative
        &::before
            position: absolute
            content: ''
            top: 0
            left: 25%
            height: 3px
            width: 50%
            background: $red

    h3
        margin: 50px 0

    .results-data
        span
            margin: 30px 0
            font-size: 2em


