// start bigImage
section.bigImage.d-flex.align-items-center.text-center#bigImage
	.overlay
	// start container
	.container
		h2 blind matter
		p yes we care
		a(href='#' role='button').btn.btn-outline-danger.btn-lg find us
	<!-- end container -->
<!-- end bigImage -->