// start about-us section
section#aboutUs
	.container
		#aboutUsSlider.carousel.slide(data-ride='carousel')
			ol.carousel-indicators
				li(data-target='#aboutUsSlider' data-slide-to='0').active
					.triangle
				li(data-target='#aboutUsSlider' data-slide-to='1')
					.triangle
				li(data-target='#aboutUsSlider' data-slide-to='2')
					.triangle


			.carousel-inner(role='listbox')
				.carousel-item.active
					.carousel-words.text-justify.text-capitalize
						h3.text-center hello from one
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				.carousel-item
					.carousel-words.text-justify.text-capitalize
						h3.text-center hello from two
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				.carousel-item
					.carousel-words.text-justify.text-capitalize
						h3.text-center hello from three
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						

<!-- end about-us section