// start results section
section#results.text-center
	.container
		.row
			.col-sm-12
				h3.h1.text-capitalize our results
			.results-data.col-md-3.col-sm-6.d-flex.align-items-center
				i.fa.fa-google-wallet.fa-3x.fa-fw
				.results-numbers
					h3 some words
					span.d-block 312
			<!-- end results-data -->
			.results-data.col-md-3.col-sm-6.d-flex.align-items-center
				i.fa.fa-legal.fa-3x.fa-fw
				.results-numbers
					h3 some words
					span.d-block 583
			<!-- end results-data -->
			.results-data.col-md-3.col-sm-6.d-flex.align-items-center
				i.fa.fa-key.fa-3x.fa-fw
				.results-numbers
					h3 some words
					span.d-block 135
			<!-- end results-data -->
			.results-data.col-md-3.col-sm-6.d-flex.align-items-center
				i.fa.fa-bomb.fa-3x.fa-fw
				.results-numbers
					h3 some words
					span.d-block 874
			<!-- end results-data -->
				

			
		<!-- end row -->
	<!-- end container -->
<!-- end results section -->
