// start results section
section#results.text-center
	.container
		.row
			.col-sm-12
				h3.h1.text-capitalize our results
			.col-md-3.col-sm-6
				i.fa.fa-google-wallet.fa-2x.fa-fw
				span.d-block 312
			.col-md-3.col-sm-6
				i.fa.fa-legal.fa-2x.fa-fw
				span.d-block 583
			.col-md-3.col-sm-6
				i.fa.fa-key.fa-2x.fa-fw
				span.d-block 135
			.col-md-3.col-sm-6
				i.fa.fa-map-pin.fa-2x.fa-fw
				span.d-block 874
				

			
		<!-- end row -->
	<!-- end container -->
<!-- end results section -->
