// start navigation bar
nav.navbar.navbar-toggleable-md.bg-inverse.navbar-inverse.text-capitalize
	.container
		button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		a(href='#').navbar-brand blind

		// start navbar-collapse
		#headerNav.collapse.navbar-collapse.justify-content-end
			ul.navbar-nav
				li.nav-item.active: a(href='#').nav-link home
				li.nav-item: a(href='#').nav-link about us
				li.nav-item: a(href='#').nav-link our results
				li.nav-item.dropdown
					a(href='#' data-toggle='dropdown').nav-link.dropdown-toggle#nav_header_dropdown why join us
					.dropdown-menu(aria-labelledby='nav_header_dropdown')
						a(href='#').dropdown-item spread idea
						a(href='#').dropdown-item write with us
						a(href='#').dropdown-item review with us
				li.nav-item: a(href='#').nav-link contact us
			<!-- end ul -->
		<!-- end navbar-collapse -->
	<!-- end container -->
<!-- end navigation bar -->
