// start bigImage
section.bigImage
	// start container
	.container
		h2 blind matter
		p yes we care
		a(href='#' role='button').btn.btn-outline-danger.btn-lg finde us
	<!-- end container -->
<!-- end bigImage -->